extends layout.pug 

block content 
 nav.nav
    a(href='/')
      span &larr;
      |  Back
    .container 
     h1= '505 Error'
     p Oops! It looks like we are having some trouble with our server. 