extends layout.pug

block content

  article.portfolio-intro
    h1 Project Portfolio
    p Thank you for checking out my site! The projects below document my journey of learning to code while completing my full-stack JavaScript program with Team TreeHouse.  

  article.portfolio-project-thumbs
    .projects-box.box.grid  
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[1]}`, alt=`${project.project_name}`, target="_blank", style ="width:300px")
            h5= project.project_name 

