extends layout.pug 

block content 
 nav.nav
    a(href='/')
      span &larr;
      |  Back
    .container 
     h1= '404 Error'
     p Oops! It looks like the page you are looking for does not exist.
     